@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body,
html {
    font-family: Gotham, sans-serif;
    background-color: white;
    /*    color: #ffffff;*/
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 50px;
}

a:hover {
    text-decoration: underline;
}

/* change the link color and padding  */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    padding: .75rem 1rem;
}

/* change the color and background color of active links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .2);
}

.wrapper {
    padding-right: 40px;
    padding-left: 40px;
    background-color: #a6192e;
    opacity: .98
}


/*button styling*/
.btn:hover {
    background-color: rgba(255, 255, 255, .985);
    border: 1px solid #a6192e;
    color: #a6192e;
}

.btn {
    font-size: 1vw;
}


/*read more button expansions*/
.overlay {
    background-color: rgba(255, 255, 255, .985);
    color: black;
    font-size: 1.25vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 70%;
    height: 70%;
    border-radius: 1em;
    margin: auto;
    box-shadow: 1px 4px 100px 75px rgba(0, 0, 0, 0.3);
    padding-top: 100p;
    z-index: 10;
}

/* entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}




/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* hide back of pane during swap */
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 3;
}


.card-container,
.front,
.back {
    width: 100%;

    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
}



/*Card styling*/
.card {
    background-color: rgba(245, 245, 245, .9);
    border-color: rgba(200, 200, 200, .9);
    border-width: thin;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    transform-style: preserve-3d;
    position: relative;

}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
/*
.card:hover {
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.9);
}
*/

/* Add some padding inside the card container */
.container {
    padding: 1em;
}


/*read more card flip*/
.img-container {
    position: relative;
    display: inline-block;
}

.img-container .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, .95);
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.img-container:hover .overlay-text {
    opacity: 1;
}


.img-hover-zoom {
    max-height: 350px;
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .8s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.1);
}




/*---Media Queries --*/


@media (max-width: 2000px) {
    .overlay-text span {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-10%, -10%);
        color: black;
        font-size: .8vw;
    }

    #appgal {
        font-size: 3.5vw;
    }

    .container-fluid {
        min-height: 94vh;
    }

    h1 {
        font-size: 4vw;
    }
    
    .card-text {
    font-size: .95vw;
}
}



@media (max-width: 1440px) {
    .overlay-text span {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-10%, -10%);
        color: black;
        font-size: 1.1vw;
    }

    #appgal {
        font-size: 3.5vw;
    }

    .container-fluid {
        min-height: auto;
    }

    h1 {
        font-size: 4vw;
    }

    .btn {
        font-size: 1.5vw;
    }
    
    .card-text {
    font-size: 1.3vw;
}
}


@media (max-width: 992px) {

    .overlay-text span {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-10%, -10%);
        color: black;
        font-size: 1.2vw;
    }

    #appgal {
        font-size: 3.5vw;
    }

    .container-fluid {
        min-height: auto;
    }

    h1 {

        font-size: 4vw;
    }

    .btn {
        font-size: 1.7vw;
    }
    
    .card-text {
    font-size: 1.6vw;
}

}


@media (max-width: 767px) {

    .overlay-text span {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-10%, -10%);
        color: black;
        font-size: 2.0vw;
    }

    #bannerimage {
        margin-top: -7% !important;
    }

    #bannertitle {
        margin-top: -15% !important;
    }

    #appgal {
        font-size: 6vw;
    }

    .container-fluid {
        min-height: auto;
    }

    h1 {
        text-align: center;
        font-size: 8vw;
    }

    h2 {
        text-align: center;
        font-size: 5vw;
    }

    .btn {
        font-size: 2.2vw;
    }
    
    .card-text {
    font-size: 3vw;
}
}

@media (max-width: 576px) {

    .overlay-text span {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-10%, -10%);
        color: black;
        font-size: 2.5vw;
    }

    #bannerimage {
        margin-top: -7% !important;
    }

    #bannertitle {
        margin-top: -15% !important;
    }

    #appgal {
        font-size: 5.5vw;
    }

    .container-fluid {
        min-height: auto;
    }

    h1 {
        text-align: center;
        font-size: 8vw;
    }

    h2 {
        text-align: center;
        font-size: 5vw;
    }

    .btn {
        font-size: 3vw;
    }
    
    .card-text {
    font-size: 4vw;
}
}

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
